@model List<User>
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "Login";
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class=" text-center">User list</h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-12">
            @if(Model == null || !Model.Any()){
                <h2 class="text-center">No User found.</h2>
            }else{
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var user in Model){
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td>@user.UserEmail</td>
                            <td>@user.UserAddress</td>
                            <td>@user.CreatedAt</td>
                            <td>@user.UpdatedAt</td>

                            @* <img class=" rounded" title="" src="" onError="(e)=> e.target.style.display = 'none'"/> *@
                        </tr>
                        }
                    </tbody>
            </table>
            }
        </div>
    </div>
</div>


<script>
    async function login() {
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;
        if (email.length == 0) {
            errorToast('Please enter email');

        } else if (password.length == 0) {
            errorToast('Please enter password');
        } else {
            let response = await axios.post('@Url.Action("Login","User")', { email: email, password: password });

            if (response.data['status'] == 'success') {
                successToast("Login success!");
                //window.location.href = '@Url.Action("Dashboard","User")';
            } else {
                errorToast("Login failed");
            }
        }
    }</script>

